html {
    scroll-behavior: smooth; 
  }

header {
    display: flex;
    justify-content: center;
}


body {
    
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: wheat;
}


span {
    color: black;
}

.link_git {
    text-decoration: none;
    color: #000300;
    transition: .4s;
}
.link_git:hover {
    color: red;
}

.link_proj {
    text-decoration: none;
    color: #000300;
    transition: .4s;
    color: #8e8eb9ee;
}
.link_proj:hover {
    color: red;
}


.space_cr {
    height: 165px;
}


.nav-list {
    display: flex;
    height: auto;
    width: 830px;
    border-radius: 20px;
    margin: 0px;
    padding-left: 0px;
    border: 2px solid black;
    background-color: wheat;
    justify-content: center;
    list-style: none;
    
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none ;
    padding: 0 20px;
    line-height: 50px;
    color: black;
    font-family: system-ui;
    font-weight: 600;
    font-size: 15px;
    transition: .4s;
}

.nav-link:hover {
    text-transform: uppercase;
    text-decoration: none ;
    padding: 0 20px;
    line-height: 50px;
    color: red;
    font-family: system-ui;
    font-weight: 600;
    font-size: 15px;
}


.resume-box {
    width: 800px;
    height: 100px;
    margin: 0 auto;
}

.content-2 {
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    
}

.box-1 {
    border-radius: 20px;
    background-color: #26252d;
    width: 35%;
    float: left;
    height: auto;
}

.box-2 {
    border-radius: 20px;
    background-color: wheat;
    width: 60%;
    float: left;
    padding: 20px;
}

.profile {
    border-radius: 10px;
    width: 100%;
}

.content {
    padding: 20px;
}

h1 {
    color: #ceced1;
    font-family: system-ui;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    color: #ceced1;
    font-family: system-ui;
    font-weight: 300;
    text-transform: uppercase;
}

p {
    color: #ceced1;
    font-family: system-ui;
    font-weight: 300;
    font-size: 14px;
}




.progress1 {
    background-color: #333;
    border-radius: 13px;
    height: 16px;
    width: 100%;
    padding: 3px;    
}

.progress2 {
    background-color: #333;
    border-radius: 13px;
    height: 16px;
    width: 100%;
    padding: 3px;    
}

.progress3 {
    background-color: #333;
    border-radius: 13px;
    height: 16px;
    width: 100%;
    padding: 3px;    
}

.progress4 {
    background-color: #333;
    border-radius: 13px;
    height: 16px;
    width: 100%;
    padding: 3px;    
}

.progress5 {
    background-color: #333;
    border-radius: 13px;
    height: 16px;
    width: 100%;
    padding: 3px;    
}

.progress6 {
    background-color: #333;
    border-radius: 13px;
    height: 16px;
    width: 100%;
    padding: 3px;    
}


.progress1:after {
    color: black;
    padding-left: 5px;
    padding-bottom: 3px;
    font-weight: 500;
    content:"13%";
    display: block;
    background-color: orange;
    border-radius: 13px;
    height: 16px;
    width: 13%;   
}

.progress2:after {
    color: black;
    padding-left: 5px;
    padding-bottom: 3px;
    font-weight: 500;
    content:"15%";
    display: block;
    background-color: orange;
    border-radius: 13px;
    height: 16px;
    width: 15%;   
}

.progress3:after {
    color: black;
    padding-left: 5px;
    padding-bottom: 3px;
    font-weight: 500;
    content:"60%";
    display: block;
    background-color: orange;
    border-radius: 13px;
    height: 16px;
    width: 60%;   
}

.progress4:after {
    color: black;
    padding-left: 5px;
    padding-bottom: 3px;
    font-weight: 500;
    content:"55%";
    display: block;
    background-color: orange;
    border-radius: 13px;
    height: 16px;
    width: 55%;   
}

.progress5:after {
    color: black;
    padding-left: 5px;
    padding-bottom: 3px;
    font-weight: 500;
    content:"20%";
    display: block;
    background-color: orange;
    border-radius: 13px;
    height: 16px;
    width: 20%;   
}

.progress6:after {
    color: black;
    padding-left: 5px;
    padding-bottom: 3px;
    font-weight: 500;
    content:"50%";
    display: block;
    background-color: orange;
    border-radius: 13px;
    height: 16px;
    width: 50%;   
}

.skills ul {
    padding-left: 0px;
    list-style: none;
    color: #ceced1;
    font-family: system-ui;
    font-weight: 300;
    font-size: 14px;    
}



.intro { text-align: center;}
.intro h1{
    font-size: 40px;
    font-weight: bold;
    color: rgba(5, 5, 5, 0.623);
}

.hr {
    height: 15px;
    border:none;
    background-color: rgb(209, 255, 123);
    margin: -45px 20px;
}

.intro-p {
    color: #7d7d7d;
    font-family: system-ui;
    font-weight: 400;
    font-size: 15px;
    margin-top: 13%!important;

}

.intro p {
    color: #7d7d7d;
    font-family: system-ui;
    font-weight: 400;
    font-size: 15px;
    margin-top: -5px;
}

.head {
    color: #26252d;
    font-family: system-ui;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
}

.para-1{
    font-size: 16px;
    text-transform: uppercase;
    color: #25252d;
    font-weight: 400;
    margin: 5px 0px;
    margin-top: 10px;
}

.para-2{
    font-size: 16px;
    text-transform: capitalize;
    color: #7d7d7d;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

code {
    display: block;
    border: 1px solid black;
    width: 250px;
    height: 100px;
    background-color: grey;
}





main {
    display: flex;
}

footer {
    margin-top: 800px;
    display: flex;
    justify-content: center;
    
    }
    
    .foot_container {
        flex-direction: column;
        margin-left: 120px;
        padding-bottom: 0px;
    }
    
    .year_p {
        color: black;
        font-family: system-ui;
        font-size: 24px;
        font-weight: 800;
    }
